# Node modules
/node_modules

# Mac
.DS_Store

# Development
*.xml
*.json
*.m3u8
*.m3u

!package.json
!package-lock.json

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks
